<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tổng quan quản lý bệnh viện</title>
    <link rel="stylesheet" th:href="@{/css/manager/manager-dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/manager/manager-common.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
     <div class="manager-layout">

         <div th:replace="~{manager/fragments/sidebar :: managerSidebar('dashboard')}"></div>

    <!--MAIN CONTENT -->


         <main class="manager-main">
            <header class="dashboard-header">
                <div class="dashboard-header-title">
                    <h2>Tổng quan quản lý bệnh viện</h2>
                    <div class="dashboard-header-subtitle">
                        <p>Tổng quan - Hôm nay / Tháng này</p>
                    </div>
                </div>
                <span class="dashboard-status-badge">Hệ thống hoạt động bình thường</span>

            </header>
             <div class="manager-dashboard">
                 
                 <!--Block 1-->

                <div class="dashboard-stats">

                    <div class="dashboard-stat-card">
                        <div class="dashboard-stat-label">Tổng lịch hẹn</div>
                        <div class="dashboard-stat-value" th:text="${totalAppointment}">1,284</div>
                        <div class="dashboard-stat-note">+64 trong tháng này</div>
                    </div>

                    <div class="dashboard-stat-card">
                        <div class="dashboard-stat-label">Tổng bệnh nhân</div>
                        <div class="dashboard-stat-value" th:text="${totalPatient}">892</div>
                        <div class="dashboard-stat-note">+28 trong tháng này</div>
                    </div>

                    <div class="dashboard-stat-card">
                        <div class="dashboard-stat-label">Bác sĩ đang hoạt động</div>
                        <div class="dashboard-stat-value" th:text="${doctorActive}">18</div>
                        <div class="dashboard-stat-note" th:text="${doctorInactive + ' Bác sĩ đang nghỉ'}">2 Bác sĩ đang nghỉ</div>
                    </div>

                    <div class="dashboard-stat-card">
                        <div class="dashboard-stat-label">Doanh thu tháng này</div>
                        <div class="dashboard-stat-value" th:text="${totalAmount} + 'VND'">128,4 triệu VND</div>
                        <div class="dashboard-stat-note">+12% so với tháng trước</div>
                    </div>

                </div>

                 <!--Block 2-->
                 <div class="dashboard-status-card">
                     <div class="status-card-title">
                         Thống kê trạng thái lịch hẹn hôm nay
                     </div>
                     <div class="status-card-list">
                         <div class="status-card-badge status-pending" th:text="${pendingAppointment} + ' Chờ xử lí'">34 Chờ xử lý</div>
                         <div class="status-card-badge status-confirmed" th:text="${confirmedAppointment} + ' Đã xác nhận'">87 Đã xác nhận</div>
                         <div class="status-card-badge status-checked-in" th:text="${checkedInAppointment}+ ' Đã check-in'">22 Đã check-in</div>
                         <div class="status-card-badge status-completed" th:text="${completedAppointment} + ' Đã hoàn thành'">156 Đã hoàn thành</div>
                         <div class="status-card-badge status-cancelled" th:text="${cancelledAppointment} + 'Đã hủy'">12 Đã hủy</div>
                     </div>
                 </div>

                 <!--Block 3-->
                 <div class="dashboard-grid">
                     <div class="dashboard-panel">
                            <div class="dashboard-panel-header">
                                Lịch hẹn hôm nay
                            </div>
                            <div class="dashboard-panel-body">
                                <table class="dashboard-table">
                                    <thead>
                                    <tr>
                                        <th>Bệnh nhân</th>
                                        <th>Bác sĩ</th>
                                        <th>Dịch vụ</th>
                                        <th>Thời gian</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="appointment : ${todayAppointmentsList}">
                                        <td th:text="${appointment.getPatientName()}">Nguyễn Việt Dũng</td>
                                        <td th:text="${appointment.getDoctorName()}">BS. Nguyễn Văn A</td>
                                        <td th:text="${appointment.getServiceName()}">Khám mắt</td>
                                        <td th:text="${appointment.getStartTime()}+'-'+ ${appointment.getEndTime()}">09:00 - 10:00</td>
                                        <td th:text="${appointment.getStatus()}">Đã xác nhận</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                     </div>
                     <div class="dashboard-panel">
                            <div class="dashboard-panel-header">
                                Bác sĩ trực hôm nay
                            </div>
                         <div class="dashboard-panel-body">
                             <table class="dashboard-table">
                                 <thead>
                                 <tr>
                                     <th>Bác sĩ</th>
                                     <th>Khoa</th>
                                     <th>Ca trực</th>
                                     <th>Trạng thái</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 <tr th:each="doctor : ${doctorOnDutyResponses}">
                                     <td th:text="${doctor.getDoctorName()}">BS. Trần Minh Tuấn</td>
                                     <td th:text="${doctor.getDepartmentName()}">Tim mạch</td>
                                     <td th:text="${doctor.getShift()}">Ca sáng</td>
                                     <td th:text="${doctor.getStatus()}">Đang trực</td>

                                 </tr>
                                 </tbody>
                             </table>
                         </div>
                     </div>

                 </div>
             </div>
         </main>


     </div>


</body>
</html>
