<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/manager/fragments/layout}"
      th:with="pageTitle='Tổng quan về doanh thu', pageSubtitle='Theo dõi doanh thu của bệnh viện theo ngày, tháng, năm' , activeMenu='invoices'">

<head>
    <meta charset="UTF-8">
    <title>Tổng quan doanh thu</title>
    <link rel="stylesheet" th:href="@{/css/manager/manager-common.css}">
    <link rel="stylesheet" th:href="@{/css/manager/manager-schedules.css}">
    <link rel="stylesheet" th:href="@{/css/manager/manager-invoices.css}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
            integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>

<div class="container-fluid p-0 h-100" layout:fragment="content">
    <div class="row">
        <!--            Summary invoice Overview-->
        <div class="row">
            <div class="col-md-6 mt-3">
                <div class="card h-100"
                     style="border-color: #00a651; border-radius: 15px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <label class="text-secondary small fw-bold">Tổng doanh thu</label>
                            <br>
                            <label style="font-size: 22px; font-weight: 700; color: #1e293b"
                                   th:text="${paidInvoice.getTotalPaymentAmount() != null} ? (${#numbers.formatDecimal(paidInvoice.getTotalPaymentAmount(), 0, 'POINT', 0, 'COMMA')} + ' VND') : '0 VND'">100,000,000
                                VND</label>
                            <br>
                            <label style="font-size: 12px; color: #00a651"
                                   th:text="${paidInvoice.getPaymentAmount() + ' hóa đơn đã thanh toán'}">200 hóa
                                đơn đã thanh toán</label>
                        </div>
                        <div style="width: 52px; height: 52px; border-radius: 12px; background: rgba(0, 166, 81, 0.1); display: flex; align-items: center; justify-content: center;">
                            <i class="bi bi-cash-stack" style="font-size: 24px; color: #00a651;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-3">
                <div class="card h-100"
                     style="border-color: #FCD34D; border-radius: 15px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <label class="text-secondary small fw-bold">Đang thanh toán</label>
                            <br>
                            <label style="font-size: 22px; font-weight: 700; color: #1e293b"
                                   th:text="${pendingInvoice.getTotalPaymentAmount() != null} ? (${#numbers.formatDecimal(pendingInvoice.getTotalPaymentAmount(), 0, 'POINT', 0, 'COMMA')} + ' VND') : '0 VND'">100,000,000
                                VND</label>
                            <br>
                            <label style="font-size: 12px; color: #aa8d00"
                                   th:text="${pendingInvoice.getPaymentAmount() + ' hóa đơn đang thanh toán'}">12
                                hóa đơn đang thanh toán</label>
                        </div>
                        <div style="width: 52px; height: 52px; border-radius: 12px; background: rgb(255 255 196); display: flex; align-items: center; justify-content: center;">
                            <i class="bi bi-clock" style="font-size: 24px; color: #ac9300;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <form th:action="@{/manager/invoices}" method="GET">
                    <div class="card border-0"
                         style="border-radius: 15px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); bg-color: #fff;">
                        <div class="card-body p-3">
                            <div class="row g-3 align-items-end">
                                <div class="col-md-2">
                                    <label class="form-label small fw-bold text-secondary">Tháng</label>
                                    <select class="form-select" name="month">
                                        <option th:value="0">Chọn tháng</option>
                                        <option th:each="i : ${#numbers.sequence(1,12)}"
                                                th:value="${i}" th:text="${'Tháng ' + i}"
                                                th:selected="${i==month}"></option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label class="form-label small fw-bold text-secondary">Năm</label>
                                    <select class="form-select" name="year">
                                        <option th:value="0">Chọn năm</option>
                                        <option th:each="i : ${#numbers.sequence(yearSelect - 5, yearSelect)}"
                                                th:value="${i}" th:text="${'Năm ' + i}"
                                                th:selected="${i==year}"></option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label small fw-bold text-secondary">Từ ngày</label>
                                    <input class="form-control" type="date" name="startDate"
                                           th:value="${startDate}">
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label small fw-bold text-secondary">Đến ngày</label>
                                    <input class="form-control" type="date" name="endDate" th:value="${endDate}">
                                </div>

                                <div class="col-md-2">
                                    <button type="submit"
                                            class="btn btn-primary w-100 d-flex align-items-center justify-content-center gap-2"
                                            style="height: 38px;">
                                        <i class="bi bi-funnel"></i> Lọc dữ liệu
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--                Data table-->
        <div class="row mt-3">
            <div class="col-md-12 mt-3">
                <div class="card invoice-card">
                    <div class="card-body p-0">
                        <table class="invoice-table">
                            <thead>
                            <tr>
                                <th>Mã hóa đơn</th>
                                <th>Mã lịch khám</th>
                                <th>Bệnh nhân</th>
                                <th>Bác sĩ</th>
                                <th>Khoa</th>
                                <th>Hóa đơn</th>
                                <th>Trạng thái</th>
                                <th>Ngày</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="invoiceRowResponse : ${invoiceRowResponses}">
                                <td th:text="${invoiceRowResponse.getInvoiceCode()}">HD-123</td>
                                <td th:text="${invoiceRowResponse.getAppointmentCode()}">APT-123</td>
                                <td th:text="${invoiceRowResponse.getPatientName()}">Nguyễn Việt Kiều</td>
                                <td th:text="${invoiceRowResponse.getDoctorName()}">Nguyễn Việt Dũng</td>
                                <td th:text="${invoiceRowResponse.getDepartmentName()}">Tim mạch</td>
                                <td th:text="${#numbers.formatDecimal(invoiceRowResponse.getTotalAmount(), 0, 'POINT', 0, 'COMMA')} + ' VND'">
                                    12,000,000 VND
                                </td>
                                <td th:text="${invoiceRowResponse.getStatus()}">Đã thanh toán</td>
                                <td th:text="${#temporals.format(invoiceRowResponse.getDate(),'HH:mm - dd/MM/yyyy')}">
                                    28/06/2026
                                </td>
                            </tr>

                            </tbody>

                        </table>

                        <!-- FOOTER + PAGING -->

                        <div class="schedule-pagination" style="justify-content: flex-end;">
                            <span th:text="'Trang hiện tại ' +${currentPage + 1}+
                            ' trong '+${totalPages} "
                                  style=" font-weight: 500;padding: 6px 10px ; border-radius: 5px; margin-top: 5px; margin-bottom: 5px; font-size: 14px">
                            </span>
                            <a th:if="${currentPage!=0}"
                               th:href="@{/manager/invoices(month=${month},page=${currentPage - 1},year=${year},startDate=${startDate},endDate=${endDate})}"
                               class="pager-button">Trước</a>
                            <span th:if="${currentPage==0}"
                                  class="pager-button disabled">Trước</span>

                            <a th:if="${currentPage <(totalPages - 1)}"
                               th:href="@{/manager/invoices(month=${month},page=${currentPage + 1},year=${year},startDate=${startDate},endDate=${endDate})}"
                               class="pager-button">Sau</a>
                            <span th:if="${currentPage == (totalPages - 1)}"
                                  class="pager-button disabled">Sau</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>