<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/manager/fragments/layout}"
      th:with="pageTitle='Tài khoản nhân viên', pageSubtitle='Quản lý tài khoản bác sĩ, lễ tân trong hệ thống' , activeMenu='staff'">
<head>
    <meta charset="UTF-8">
    <title>Danh sách tài khoản nhân viên</title>
    <link rel="stylesheet" th:href="@{/css/manager/manager-common.css}">
    <link rel="stylesheet" th:href="@{/css/manager/manager-staff.css}">
    <link rel="stylesheet" th:href="@{/css/manager/manager-schedules.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>

<div class="manager-layout" layout:fragment="content" >

    <!--MAIN CONTENT-->
    <main class="manager-main-staff">
        <section class="staff-stats">
            <div class="staff-stat-card">
                <div class="staff-stat-value" th:text="${totalStaff}">8</div>
                <div class="staff-stat-label">Tổng nhân viên</div>
            </div>

            <div class="staff-stat-card staff-stat-doctor">
                <div class="staff-stat-value" th:text="${doctorCount}">5</div>
                <div class="staff-stat-label">Bác sĩ</div>
            </div>

            <div class="staff-stat-card staff-stat-receptionist">
                <div class="staff-stat-value" th:text="${receptionistCount}">3</div>
                <div class="staff-stat-label">Lễ tân</div>
            </div>

        </section>

        <section class="staff-filter-card">

            <!--                Searching-->
            <div class="staff-filter-row">
                <form method="get" th:action="@{/manager/staff/list}" class="staff-search-box">
                    <input type="hidden" name="selectedRole" th:value="${selectedRole}">
                    <i class="bi bi-funnel"></i>
                    <input type="text" name="filterKey" th:value="${filterKey}"
                           placeholder="Tìm theo tên, email, số điện thoại...">
                </form>

                <div class="staff-filter-actions">

                    <a class="staff-filter-button"
                       th:href="@{/manager/staff/list(filterKey=${filterKey})}"
                       th:classappend="${selectedRole == null} ? ' active'">
                        Tất cả
                    </a>

                    <a class="staff-filter-button"
                       th:href="@{/manager/staff/list(role='DOCTOR', filterKey=${filterKey})}"
                       th:classappend="${selectedRole == 'DOCTOR'} ? ' active'">
                        Bác sĩ
                    </a>


                    <a class="staff-filter-button"
                       th:href="@{/manager/staff/list(role='RECEPTIONIST',filterKey=${filterKey})}"
                       th:classappend="${selectedRole == 'RECEPTIONIST'} ? ' active'">
                        Lễ tân
                    </a>
                    <!--                        <button class="staff-filter-button" type="button">Đang hoạt động</button>-->
                </div>
            </div>

            <p class="staff-filter-note" th:text="'Tìm thấy ' + ${numberOfResult} + ' tài khoản'">Tìm thấy 8 tài
                khoản</p>
        </section>

        <section class="staff-table-card">
            <table class="staff-table">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ và tên</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Loại nhân viên</th>
                    <th>Trạng thái</th>
                    <th>Người tạo</th>
                    <th>Ngày tạo</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="staff, index : ${staffResponses}">
                    <td th:text="${index.count}"></td>
                    <td>
                        <div class="staff-profile">
                            <div class="staff-avatar">
                                <img th:if="${staff.getAvatar() != null and staff.avatar != ''}"
                                     th:src="${staff.getAvatar()}"
                                     alt="Avatar"/>
                                <i th:unless="${staff.getAvatar() != null and staff.getAvatar() != ''}"
                                   class="bi bi-person"></i></div>
                            <strong th:text="${staff.getName()}">BS. Trần Minh Tuấn</strong>
                        </div>
                    </td>
                    <td th:text="${staff.getEmail()}">tuan.tran@hms.vn</td>
                    <td th:text="${staff.getPhone()}">0987 654 321</td>
                    <td><span class="staff-type-badge"
                              th:classappend="${staff.getRole() == 'DOCTOR'} ? ' doctor' : ' receptionist'"
                              th:text="${staff.getRole()=='DOCTOR'} ? 'Bác sĩ' : 'Lễ tân' ">Bác sĩ</span></td>
                    <td>
                        <div class="staff-status-text"
                             th:classappend="${staff.getStatus().equals('ACTIVE')} ? ' active' : ' inactive'">
                             <span class="staff-status-dot"
                                   th:classappend="${staff.getStatus().equals('ACTIVE')} ? ' active' : ' inactive'"></span>
                            <strong th:text="${staff.getStatus().equals('ACTIVE')} ? 'Đang hoạt động' : 'Ngưng hoạt động'">
                                Đang hoạt động
                            </strong>
                        </div>

                    </td>
                    <td th:text="${staff.getCreatedBy()}">Hoàng Thị Mai</td>
                    <td th:text="${#temporals.format(staff.getCreatedDate(),'HH:mm dd/MM/yyyy')}">15/03/2021</td>
                    <td>
                        <div class="staff-actions">
                            <a th:href="@{/manager/staff/{staffId}(staffId=${staff.getId()}, staffRole=${staff.getRole()})}"
                               class="staff-action-view"><i class="bi bi-eye"></i></a>
                            <a th:href="@{/manager/staff/{staffId}/edit(staffId=${staff.getId()}, staffRole=${staff.getRole()})}"
                               class="staff-action-edit"><i class="bi bi-pencil"></i></a>
                            <!--                                <a href="#" class="staff-action-lock"><i class="bi bi-trash"></i></a>-->
                            <!--                                <a href="#" class="staff-action-key"><i class="bi bi-key"></i></a>-->

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--            paging-->
            <div class="schedule-pagination" style="justify-content: flex-end;">
                            <span th:text="'Trang hiện tại ' +${currentPage + 1}+
                            ' trong '+${totalPages} " style=" font-weight: 600;padding: 6px 10px ; border-radius: 5px; margin-top: 5px; margin-bottom: 5px; font-size: 14px">
                            </span>
                <a th:if="${currentPage!=0}"
                   th:href="@{/manager/staff/list(role=${selectedRole},page=${currentPage - 1},filterKey=${filterKey})}"
                   class="pager-button">Trước</a>
                <span th:if="${currentPage==0}"
                      class="pager-button disabled">Trước</span>

                <a th:if="${currentPage <(totalPages - 1)}"
                   th:href="@{/manager/staff/list(role=${selectedRole},page=${currentPage + 1},filterKey=${filterKey})}"
                   class="pager-button">Sau</a>
                <span th:if="${currentPage == (totalPages - 1)}" class="pager-button disabled">Sau</span>
            </div>
        </section>
    </main>
</div>
</body>
</html>
