.patient-main {
    padding: 40px 30px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.page-header h1 {
    font-size: 32px;
    margin-bottom: 6px;
}

.page-header p {
    font-size: 14px;
    color: #475569;
}

.filter-tabs {
    display: flex;
    gap: 8px;
    margin-bottom: 30px;
}

.filter-tabs button {
    padding: 9px 16px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}

.filter-tabs button.active {
    background: #020617;
    color: white;
}

.patient-table {
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 0 0 12px 12px;
    overflow: hidden;
}

.patient-table table {
    width: 100%;
    border-collapse: collapse;
}

.patient-table thead {
    background: #f8fafc;
}

.patient-table th {
    text-align: left;
    padding: 14px 20px;
    font-size: 13px;
    color: #475569;
}

.patient-table td {
    padding: 14px 20px;
    border-top: 1px solid #e5e7eb;
    vertical-align: middle;
}

.patient-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #dbeafe;
    color: #1764ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.patient-info h4 {
    font-size: 15px;
    margin-bottom: 3px;
}

.patient-info p {
    font-size: 13px;
    color: #475569;
}

.time {
    color: #005eff;
    margin-top: 4px;
    font-size: 13px;
    font-weight: 600;
}

.status-select {
    width: 145px;
    height: 34px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0 8px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    background: #f1f2f5;
}

.status-select.waiting {
    color: #b45309 !important;
    background: #fef3c7 !important;
}

.status-select.examining {
    color: #1d4ed8 !important;
    background: #dbeafe !important;
}

.status-select.done {
    color: #15803d !important;
    background: #dcfce7 !important;
}

.detail-link {
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    gap: 10px;
    align-items: center;
}

.table-footer {
    padding: 14px 20px;
    border-top: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-footer p {
    font-size: 13px;
    color: #475569;
}

.pagination {
    display: flex;
    gap: 6px;
}

.pagination button {
    height: 32px;
    padding: 0 12px;
    border: 1px solid #e5e7eb;
    background: white;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

.pagination button.active {
    background: #020617;
    color: white;
}
